<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Demo Video</title>
	<style>
	.container{
		margin-top: 10px;
		text-align: center;
	}
	.widhei{
		width: 70%;
	}
	h1{
		text-align: center;
		color: white;
		background-color: olive;
	}
     @media screen and (max-width: 600px){
         .container{
             margin-top: 150px;
         }
         .widhei{
             width:80%;
             height: 50%;
         }
</style>
	</head>
	<body>
		<h1><i>DEMO VIDEO</i></h1>
		<div class="container">
		<video class="widhei" controls>
 <source src="{{t.video.url}}" type="video/mp4">
 </video>
</div>
</body>