{% extends 'base2.html' %}
{% block content %}

<head>
    <title>Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
    .h2{
        color: navy;
    }
</style>
</head>
<body>
    <div class="container">
        <br>
        <h2 style="text-align:center;">Welcome, {{request.user.username}}</h2>
        <br>
        {% if t.is_verified %}
        <h4 style="font-weight: 500; text-align: center;color: blue;">Yayyy! your account is verified</h4>
        {% endif %}
        <br>
        {% if t.mode == "online" or t.mode == "both" %}
        <h2 class="h2">Bookings</h2>
        <br>
    <table class="table table-striped">
    {% if book %}
  <thead style="color: brown;">
    <th scope="col">Order Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Date</th>
    <th scope="col">Day</th>
    <th scope="col">Time Slot</th>
    <th scope="col">Payment Status</th>
  </thead>
  {% endif %}
  <tbody>
     <p style=" color: brown;text-align: center;font-size: 200%; font-weight: 500;">{{mesg}}</p>
    {% for i in book %}
    {% if i.date in dates %}
    <tr>
      <td scope="row">{{i.id}}</td>
      <td>{{i.stud_name}}</td>
      <td>{{i.stud_email}}</td>
      <td>{{i.date}}</td>
      <td>{{i.day}}</td>
      <td>{{i.time1}}</td>
      <td>
        {% if i.status == "Success" %}
            <span class="badge badge-success">Success</span>
        {% endif %}
        {% if i.status == "Failure" %}
            <span class="badge badge-danger">Failure</span>
        {% endif %}
        {% if i.status == "Pending" %}
            <span class="badge badge-secondary">Pending</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% else %}
 <p style=" color: chocolate;text-align: center;font-size: 200%; font-weight: 500;">
     Please wait, until the students contact you!!
 </p>
 <p style="text-align: center;font-size: 200%; font-weight: 500;">
     If you wish to change mode of teaching please goto edit profile 
     <a href="{% url 'tutoredit_profile' %}">Click here</a>
 </p>

{% endif %}
</div>
{% endblock %}
</body>